<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
<!--    <servlet>-->
<!--        <servlet-name>login</servlet-name>-->
<!--        <servlet-class>com.ygj.Web.LoginWeb</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>login</servlet-name>-->
<!--        <url-pattern>/login</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.ygj.Web.RegisterWeb</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>soletest</servlet-name>
        <servlet-class>com.ygj.Web.SoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>soletest</servlet-name>
        <url-pattern>/soletest</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>demo1</filter-name>
        <filter-class>com.ygj.utils.FilterDemo</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>demo1</filter-name>
        <url-pattern>/*</url-pattern> <!-- 拦截路径 -->
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>/web/*</url-pattern>
    </filter-mapping>
</web-app>